<form action="/" method="post">
  <!--implement the object-related form for an album	-->
  <label for="name">Name :</label> 
  <input name="name" type="text" placeholder="name"/>
  <label for="artist">Artist :</label> 
  <input name="artist" type="text" placeholder="the artist"/>
  <label for="year">Year :</label>
  <input name="year" type="text" placeholder="ex 2012"/>
  <input type="submit" value="post"/> 
</form>
<a href=/>Back to jukebox list</a>